@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
    font-family: 'Open Sans', sans-serif !important;
}

p {
    font-size: 14px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.right {
    float: right;
}

.header-bg {
        background-image: url(../images/pinbg.jpg);
        background-color: #090c1b;
        background-repeat: no-repeat;
        background-size:cover;
}

.white-text {
    color: #fff;
    text-align: center;
}

.section {
    text-align: center;
    margin: 60px 40px;
}

.btn-x {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1rem;
    font-size: 14px;
    padding: 8px 25px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
}

footer a .btn-x-footer {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1rem;
    font-size: 14px;
    padding: 8px 25px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}

.btn-x:hover {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1rem;
    font-size: 14px;
    padding: 8px 25px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
}

.team-member-box {
    text-align: center;
    padding: 15px;
    background-color: transparent;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.team-member-box:hover {
    background-color: transparent;
}

.team-member-box h3 {
    margin-top: 0;
    margin-bottom: 3px;
}

.team-member-box-2 h3 {
    margin-top: 20px;
    margin-bottom: 3px;
}

.card-member {
    text-align: center;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 400px) {
    .card-member {
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.card-member li {
    justify-content: center;
    display: block;
    list-style-type: none;
    padding: 5px;
}

@media screen and (min-width: 200px) {
    .card-member li {
        
        width: 49%;
        justify-content: center;
        display: inline-grid;
    }
}

@media screen and (min-width: 400px) {
    .card-member li {
        
        width: 49%;
        justify-content: center;
        display: inline-grid;
    }
}

@media screen and (min-width: 640px) {
    .card-member li {
        display: inline-grid;
        width: 50%;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .card-member li {
        width: 33.3333%;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .card-member li {
        width: 25%;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .card-member li {
        float: none;
        width: 19%;
        justify-content: center;
    }
}

.partner-x {
    width: 150px;
    opacity: 0.7;
    display: inline-block;
    margin: 20px 30px;
}

.partner-x img{
    width: 150px;
    opacity: 0.7;
    display: inline-block;
    margin: 20px 30px;
}

.mt200 {
    margin-top: 200px;
}

.mt150 {
    margin-top: 150px;
}

.mt100 {
    margin-top: 100px;
}

.mt50 {
    margin-top: 50px;
}

.mb50{
    margin-bottom: 50px;
}

.mb100{
    margin-bottom: 100px;
}

.background-white {
    background-color: #fff;
}

.navbar-shadow{
    box-shadow: 5px 9px 25px 0 rgba(0, 0, 0, 0.05);
  }

.navbar-brand-mat {
    float: left;
    height: 50px;
    padding: 4px 15px;
    font-size: 18px;
    line-height: 20px;
}


.navbar-default {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    background: transparent;
    /* text-transform: uppercase; */
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    line-height: 3.3;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.60);
    background-color: transparent;
    -webkit-transition: color 0.5s ease 0s;
    -moz-transition: color 0.5s ease 0s;
    -o-transition: color 0.5s ease 0s;
    transition: color 0.5s ease 0s;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #000;
    background-color: transparent;
}

.navbar-right {
    margin-right: 15px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

.team-member-box h4 {
    font-size: 18px;
}

.bio {
    font-size: 12px;
}

.section-divider {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60px;
    height: 1px;
    background-color: #dcd9d9;
}

.robot {
    width: 100px;
}

.robot-text {
    font-size: 18px;
    text-align: center;
}

.press {
    width: 500px;
}
